useDynLib(OpenCL)
exportPattern("^ocl")
exportPattern("clFloat$")
S3method(print, clDeviceID)
S3method(print, clPlatformID)
S3method(print, clContext)
S3method(print, clKernel)
S3method(names, clKernel)
S3method(`$`, clKernel)
S3method(`$<-`, clKernel)

S3method(`[`, clFloat)
S3method(`[<-`, clFloat)
S3method(as.character, clFloat)
S3method(as.double, clFloat)
S3method(as.integer, clFloat)
S3method(length, clFloat)
S3method(`length<-`, clFloat)
S3method(oclInfo, clDeviceID)
S3method(oclInfo, clPlatformID)
S3method(oclInfo, list)
S3method(print, clFloat)
